// Button Override
.btn {
  display: inline-block;
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 7px;
}

.btn-lg {
  padding: 20px 50px;
}

.btn-light {
  color: $primary;
  &:hover {
    color: $primary;
  }
}

.btn-light2 {
  color: $button_color_footer;
  &:hover {
    color: $button_color_footer;
  }
}

.btn-zoom {
  transition: all 0.3s ease;
  transform: scale(1);
  &:hover {
    box-shadow: 0 8px 20px $box;
    transform: scale(1.03);
  }
}
